#top {
  background: black;
  width: 1rem;
  height: 4rem;
  border: 2px solid black;
  margin: auto;
}

#semaforo {
  border: 2pz solid black;
  background: black;
  width: 13rem;
  height: 33rem;
  margin: auto;
  border-radius: 10px;
  padding: 12px;
}

.red {
  background:red;
  height: 10rem;
  width: 10rem;
  border-radius: 100%;
  margin: 7px auto;
}

.green {
  background: green;
  height: 10rem;
  width: 10rem;
  border-radius: 100%;
  margin: 7px auto;
}

.yellow {
  background: yellow;
  height: 10rem;
  width: 10rem;
  border-radius: 100%;
  margin: 7px auto;
}

.luz {
  box-shadow: 0px 0px 35px 15px yellow;
}

.luzRed {
  box-shadow: 0px 0px 35px 15px red;
}

.luzGreen {
  box-shadow: 0px 0px 35px 15px green;
}
.luzYellow {
  box-shadow: 0px 0px 35px 15px yellow;
}